body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin: 0% 5% 0% 5%;
  text-align: center;
}

.TwirlyPig {
  transition: all 3s ease-in-out;
  display: inline;
}

.TwirlyPig:hover {
  transform: scale(1.5);
}

.navWrapper {
  margin-bottom: 2%;
}

.filterWrapper {
  margin: 2% 0% 2% 0%;
}

.headerText {
  color: #F5A9BC;
  font-size: 3em;
  margin: 0% 2% 0% 2%;
}

.largeHeader {
  font-size: 3.5em;
  font-weight: bold;
  color: #3B0B0B;
}

.smallHeader {
  font-size: 1.75em;
  font-weight: bold;
  color: #3B0B0B;
}

.normalText {
  font-family: Georgia, serif;
  font-size: .75em;
}

.hoggyText {
  font-size: 1.5em;
}

.achievementText {
  color: purple;
}

ul {
  list-style-type: none;
  list-style: none;
}

.normalText ul {
  font-family: Georgia, serif;
  font-size: .75em;
  text-align: left;
}

.subtleText {
  color: #D1D1D1;
  font-size: .75em;
}


.indexWrapper {
  margin: auto;
}


.pigTile {
  display: inline;
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 1%;
  outline: #3B0B0B dotted thick;
  transition: 0.75s;
  opacity: 1;
}

.minBackgroundSneak {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  z-index: -3;
}

.maxBackgroundSneak {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  z-index: -3;
  opacity: 0.75;
}

.pigTile h3 {
  color: #FBB;
}

.minPigTile {
  width: 250px;
  height: 250px;
  background-size: cover;
}

.maxPigTile {
  background-size: cover;
  width: 500px;
  height: 500px;
}

.pigTile:hover {
  transform: scale(1.05);
}


.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
  transition: all .2s ease-in-out;
}

.footer {
  padding: 1%;
  clear: both;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.hog-tile {
  position: relative;
}
.hog-modal {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(53, 29, 33);

}
#filter {
  margin: 50px 10px;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}

#filter-greased {
  margin: 0 40px;
}
#checkbox {
  width: 30px;
  height: 30px;
}
#hog-tiles {
  display: flex;
  justify-content: space-around;

}
.hog-tile {
  position: relative;
  width: 400px;
  height: 500px;
  margin: 20px;
  
}

.hog-tile > img {
  width:350px;
  position: absolute;
  left:0;
  object-fit: cover;

  
}
.hog-tile > h1 {
  position: absolute;
  top: 20px;
  left: 0;
  top: 20%;
  z-index: 1;
}

.hide-hog {
  position: absolute;
  top:0;
  right: 0;
  z-index: 2;
}